<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <title>Qeydiyyat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleee.css') }}">
</head>
<body>
    <!-- Arxa plan şəkli -->
    <img src="{{ url_for('static', filename='images/qeydiyyat.jpeg') }}" class="background-image" />

    <button class="back-button" onclick="history.back()">Geri Qayıt</button> 
     
    <div class="container">
        <!-- Mövcud content -->
        <h2>Qeydiyyat</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, msg in messages %}
              <div class="flash-message flash-{{ category }}">{{ msg }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="POST">
            <input type="text" name="username" placeholder="Ad" required>
            <input type="text" name="surname" placeholder="Soyad" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" id="password" name="password" placeholder="Şifrə" required>
            <input type="password" id="confirm" name="confirm" placeholder="Şifrəni təkrar et" required>
            
            <label style="margin-bottom: 35px; font-size: 1rem;">
                <input type="checkbox" name="remember_password">
                Şifrəni yadda saxla
            </label>

            <button type="submit">Qeydiyyatdan keç</button>
        </form>

        <div class="link">
            Artıq hesabın var? <a href="{{ url_for('login') }}">Daxil ol</a>
        </div>
    </div>

    <script>
        function togglePassword() {
            const pw = document.getElementById("password");
            pw.type = pw.type === "password" ? "text" : "password";
        }

        function toggleConfirm() {
            const cpw = document.getElementById("confirm");
            cpw.type = cpw.type === "password" ? "text" : "password";
        }
    </script>
</body>
</html>